{% extends "layout.html" %}
{% block title %}Edit Book{% endblock %}
{% block content %}
<div class="container">
    <div class="well">
        <div class="content-header">
            <h2>Edit Book</h2>
        </div>
        <form action="{{ url_for('editItem', category_name=item.category.name, item_name=item.name) }}" method='post' enctype='multipart/form-data' class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-md-2" for="category_id">Genre:</label>
                <select class="col-md-8" name='category_id'>
                    {% for c in session.categories %}
                        {% if c.name == item.category.name %}
                            <option value="{{ c.id }}" selected>{{ c.name }}</option>
                        {% else %}
                            <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="name">Name:</label>
                <input type ='text' size='30' name='name' value='{{ item.name }}' class="col-md-8">
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="description">Description:</label>
                <textarea rows='5' name='description' class="col-md-8">{{ item.description }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="image">Image:</label>
                <input type ='file' name='image' class="col-sm-8 choose-file">
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <input type='submit' value='Update' class="btn btn-primary btn-sm">
                <a class="btn btn-default btn-sm" href='{{ url_for('showItem', category_name=item.category.name, item_name=item.name) }}'>Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
