{% extends "layout.html" %}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="well">
        <h2>{{ item.name }}</h2>
        <div class='row'><div class='span12'><hr></div></div>
        <div>
        {% if image_path != None %}
            <img class="item" src="{{ image_path }}" alt="{{ item.name }}" title="{{ item.name }}">
        {% endif %}
            {{ item.description }}
        </div>
        <div class="img-buttons">
            {% if is_creator %}
            <a class="btn btn-primary btn-sm" href='{{ url_for('editItem', category_id=item.category.id, item_id=item.id) }}'>Edit</a>
            <a class="btn btn-warning btn-sm" href='{{ url_for('deleteItem', category_id=item.category.id, item_id=item.id) }}'>Delete</a>
            {% endif %}
            <a class="btn btn-default btn-sm" href='{{ url_for('showCatalog') }}'>
                <!-- <span class="glyphicon glyphicon-arrow-left"></span>Back -->
                Back
            </a>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    APIs <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('itemJSON', category_id=item.category.id, item_id=item.id) }}">JSON</a></li>
                    <li><a href="{{ url_for('itemXML', category_id=item.category.id, item_id=item.id) }}">XML</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
